@import '../scss/variable.scss';
@import '../scss/media.scss';


html,
body {
    margin: 0;
    font-family: monospace;
    font-weight: 700;
    font-size: 18px;
    cursor: default;
}
#container {
    display: flex;
    flex-direction: column;
    position: absolute;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.page {
    width: 100%;
    color: #000;
}
.first-page {
    
    @include -lg{
        height: 100%;
    min-height: 100%;
    }
}
.second-page {
    
    @include -lg{
        height: 100%;
    min-height: 100%;
    }
}
.third-page {
    
    @include -lg{
        height: 100%;
    min-height: 100%;
    }
    background: #e6e9e9;
}
.fourth-page {
    
    @include -lg{
        height: 100%;
    min-height: 100%;
    }
}
.hint {
    position: absolute;
    bottom: 20%;
    font-size: 16px;
}
