@import './variable.scss';
@import './media.scss';

#about {
    background-image: url('https://uploads-ssl.webflow.com/628b4f4f8c89f8ba7f0966ea/62cee8695218c17fee000cfa_MC_Background_04.jpg');
    background-position: top 0px center, top;
    background-repeat: repeat-x, repeat;
    // background: #000;
    z-index: 12;
    display: flex;
    align-items: center;
    background-size: cover;
    justify-content: center;
    overflow: hidden;
    padding: 90px 0;
    @include -lg {
        height: 100%;
    }
    &::before {
        background-image: url('https://www.cyberpunk.net/build/images/razor-18e21da3.svg');
        top: -48px;
        // content: '';
        height: 48px;
        left: 0;
        position: absolute;
        width: 100%;
        filter: grayscale(1) brightness(1.034);
        z-index: 1;
    }
    &::after {
        background-image: url('https://www.cyberpunk.net/build/images/razor-bottom-yellow-7dbbe9ac.svg');
        bottom: -40px;
        background-position: top;
        background-repeat: repeat-x;
        // content: '';
        height: 40px;
        position: absolute;
        width: 100%;
        z-index: 1;
        filter: grayscale(1) brightness(1.034);
    }
    .container {
        max-width: 1300px;
        margin: auto;
        // display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 4;
        flex-direction: column;
        padding: 0px 20px;

        @include md {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }

        .layer {
            background-repeat: no-repeat;
            background-size: 100% 2px, 100% 28px;
            height: 28px;
            width: 100%;
        }

        .heading {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 20px;
            margin-bottom: 60px;
            h1 {
                color: #e6e9e9;
                font-family: 'refinery';

                font-size: clamp(4rem, 5vw, 7rem);
                font-style: normal;
                font-weight: 700;
                line-height: 100%;
                text-align: center;
                text-transform: uppercase;
                @include md {
                    font-family: 'refinery medium';
                }
            }

            p {
                color: #000;
                font-family: 'blender';
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: 120%;
                max-width: 800px;
                margin: auto;
                text-align: center;
            }
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            row-gap: 30px;
            flex-direction: revert;
            flex-wrap: wrap;
            gap: 30px;

            .heading {
                img {
                    width: 100%;
                }
            }

            .para {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 40px;
                padding-left: 30px;

                p {
                    text-shadow: rgba(0, 0, 0, 0.4) 0px 4px 5px;
                    color: #000;
                    font-size: 36px;
                    font-family: 'font-1';
                    font-weight: 700;
                    letter-spacing: 4.2px;
                    line-height: 42.4px;

                    @include md {
                        letter-spacing: 1.2px;
                    }
                }
            }
            .box {
                position: relative;
                display: flex;
                overflow: hidden;
                transition: all 0.6s ease-out;
                cursor: pointer;
                border-right: 2px solid #01bbc7;
                border-left: 1px solid #01bbc7;
                border-top: 1px solid #01bbc7;
                border-bottom: 1px solid #01bbc7;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                clip-path: polygon(
                    0 0,
                    100% 0,
                    100% 30%,
                    100% 90%,
                    91% 100%,
                    0 100%,
                    0% 70%,
                    0% 30%
                );
                &::before {
                    content: '';
                    right: 18px;
                    position: absolute;
                    bottom: 7px;
                    border-right: 1px solid #01bbc7;
                    border-top: 40px solid #01bbc7;
                    transform: rotate(42deg) translate(13px, 7px);
                    z-index: 12;
                }
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 300px;
                    transition: all 0.6s ease-in-out;
                    transform: scale(1);

                    @include sm {
                        width: 100%;
                    }
                }
                .upper {
                    position: absolute;
                    top: 0px;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: end;
                    justify-content: center;
                    transition: all 0.8s ease-in-out;

                    .btn {
                        color: black;
                        border-radius: 4px;
                        display: flex;
                        padding: 16px 32px;
                        position: relative;
                        width: 20%;
                        background-repeat: no-repeat;
                        align-items: center;
                        justify-content: center;

                        position: relative;
                        color: white;

                        user-select: none;

                        img {
                            width: auto !important;
                            height: 100%;
                            filter: inherit !important;
                            max-width: 180px;
                            transform: none !important;
                            background: #000000c7;
                            margin-top: 5px;
                            clip-path: polygon(
                                0 0,
                                100% 1%,
                                100% 30%,
                                100% 64%,
                                93% 100%,
                                30% 100%,
                                0 100%,
                                0% 30%
                            );
                            /* backdrop-filter: blur(7px); */
                        }

                        span {
                            text-transform: uppercase;
                            font-family: 'refinery';
                            letter-spacing: 2px;
                            font-size: 18px;
                            line-height: 16px;
                            position: absolute;
                            width: 200px;
                            text-align: center;
                            color: #28e9e0;
                            font-weight: 300;
                        }
                    }
                }
            }
            .swiper-slide {
                flex-shrink: 0;
                width: 100%;
                height: 100%;
                position: relative;
                transition-property: transform;
                display: block;
                width: 303px !important;
                height: 400px !important;
            }
            .swiper-wrapper {
                position: relative;
                width: 100%;
                height: 100%;
                z-index: 1;
                display: flex;
                transition-property: transform;
                transition-timing-function: var(
                    --swiper-wrapper-transition-timing-function,
                    initial
                );
                box-sizing: content-box;
                height: 350px !important;
            }
            .imges {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                border-right: 3px solid #e6e9e9;
                border-left: 3px solid #e6e9e9;
                @include md {
                    display: grid;
                    grid-template-columns: 1fr;
                }

                @include mobile {
                    display: flex;
                    flex-direction: column;
                }

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 315px;
                    // filter: grayscale(1);
                    transition: all 0.6s ease-in-out;
                    transform: scale(1);

                    @include sm {
                        width: 100%;
                    }
                }
            }
        }
    }

    .model {
        display: none;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0px;
        height: 100vh;
        width: 100%;
        background: #0000001a;
        transition: all 0.8s ease-out;
        z-index: 1000;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(8px);
        right: 0px;
        .center {
            padding: 20px 20px;
            display: grid;
            grid-template-columns: 1fr 1fr;
            background: black;
            width: 90%;
            gap: 1.34rem;
            position: relative;
            max-width: 1100px;
            background: linear-gradient(
                262.62deg,
                hsla(0, 0%, 0%, 0.94) -146.25%,
                #000 -128.23%,
                #0f1010bd 119.88%
            );
            /* padding: 40px 40px 20px; */
            position: relative;
            border: 1px solid #18d1c8;
            @include md {
                overflow: auto;
                height: 90vh;
                grid-template-columns: 1fr;
                /* Webkit-based browsers */
                &::-webkit-scrollbar {
                    width: 6px; /* Set the width of the scrollbar */
                }

                &::-webkit-scrollbar-track {
                    background-color: #e6e9e9; /* Set the background color of the scrollbar track */
                }

                &::-webkit-scrollbar-thumb {
                    background-color: rgba(0, 0, 0, 0.85);
                    border-radius: 0;
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: #555; /* Set the color of the scrollbar thumb on hover */
                }
            }
            .cross {
                filter: invert(1);
                width: 35px;
                position: absolute;
                right: 10px;
                cursor: pointer;
                top: 10px;

                img {
                    width: 100%;
                }
            }
            .start {
                display: grid;
                .main {
                    max-height: 250px;
                    height: 100%;
                    min-height: 250px;
                    > img {
                        width: 100%;
                        object-fit: cover;
                        border: 2px solid #18d1c8;
                        height: 100%;
                    }
                }
                .gallery {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                    grid-gap: 10px;
                    margin-top: 10px;
                    @include md {
                        grid-template-columns: 1fr 1fr 1fr;
                    }
                    img {
                        width: 100%;
                        height: 120px;
                        cursor: pointer;
                        @include md {
                            object-fit: cover;
                        }
                    }
                }
            }

            .flex {
                display: flex;
                align-items: center;
                gap: 10px;
                margin-bottom: 20px;
                button {
                    padding: 6px 20px;
                    background: transparent;
                    border: 1px solid #18d1c8;
                    color: #18d1c8;
                    cursor: pointer;
                    margin-left: 10px;
                    font-family: 'Fjalla One';
                    text-transform: uppercase;
                }
                .links {
                    display: flex;
                    gap: 14px;
                    align-items: center;
                    a {
                        svg {
                            fill: #28e9e0;
                        }
                        &.website {
                            svg {
                                font-size: 1.005rem;
                            }
                        }
                        &.twitter {
                            svg {
                                font-size: 1.1rem;
                            }
                        }
                        &.discord {
                            svg {
                                font-size: 1.25rem;
                            }
                        }
                        &.opensea {
                            svg {
                                font-size: 1.17rem;
                            }
                        }
                        &.magicEden {
                            img {
                                height: 25px;
                            }
                        }
                    }
                }
            }

            .upper {
                h2 {
                    color: #e6e9e9;
                    font-family: 'refinery';
                    text-transform: uppercase;
                    font-size: 2.5rem;
                    margin-bottom: 10px;
                    @include md {
                        font-family: 'refinery medium';
                        line-height: 1;
                    }
                }
                p {
                    text-transform: capitalize;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'blender';
                    color: #e2e2e2;
                    transition: all 0.6s ease-out;
                    margin-top: 14px;
                    line-height: 1.3;
                }
            }
        }
        .img__model {
            display: none;
            align-items: center;
            justify-content: center;
            position: fixed;
            top: 0px;
            height: 100vh;
            width: 100%;
            background: #0000001a;
            transition: all 0.8s ease-out;
            z-index: 1000;
            -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(8px);
            right: 0px;
            .img {
                height: 90vh;
                margin: auto;
                position: relative;
                width: 100%;
                /* max-width: 560px; */
                text-align: center;
                .cross {
                    filter: invert(1);
                    width: 35px;
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    top: 10px;

                    img {
                        width: 100%;
                    }
                }
                img {
                    border-radius: 0.3em !important;
                    box-shadow: rgba(7, 7, 7, 0.2) 0px;
                    height: 100%;
                    object-fit: contain;
                    width: 100%;
                    margin: auto;
                    cursor: pointer;
                }
            }
        }
    }
}
