@import './variable.scss';
@import './media.scss';

.tools {
    padding: 120px 20px;
    width: 100%;
    background-image: linear-gradient(#000 0%, #0003 75%),
        linear-gradient(#0003 50%, #000 100%),
        url('https://www.br1game.com/static/bg_team.3e7c87cc.webp');
    background-position: top;
    background-size: cover;
    flex-direction: column;
    align-items: center;
    display: flex;
    .container {
        max-width: 1300px;
        margin: auto;
        .grid {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 2rem 2rem;
            @include md {
                grid-template-columns: 1fr;
            }
            .start {
                width: 100%;
                // background-image: radial-gradient(
                //         76.62% 76.62%,
                //         #0000 1.23%,
                //         #000000bf 63.77%
                //     ),
                //     url('https://www.br1game.com/static/roadmap_bg.bf2926fb.webp');
                background-position: 50%;
                background-repeat: no-repeat;
                background-size: contain;
                flex-direction: column;
                align-items: center;
                padding-top: clamp(0px, 7.44792vw, 143px);
                padding-bottom: clamp(0px, 8.54167vw, 164px);
                display: flex;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            .end {
                h2 {
                }
                > img {
                    height: 100px;
                    margin-left: 6px;
                    margin-bottom: 10px;
                    @include md {
                        margin-top: 40px;
                    }
                }
                ul {
                    display: grid;
                    gap: 10px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    li {
                        color: #e6e9e9;
                        font-size: 20px;
                        font-weight: 400;
                        font-family: 'blender';
                        list-style: none;
                    }
                }
                p {
                    cursor: pointer;
                    font-size: 20px;
                    font-weight: 400;
                    font-family: 'blender';
                    color: #e6e9e9;
                    cursor: pointer;
                    list-style: none;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 300;
                    padding: 20px 10px;
                    line-height: 100%;
                    position: relative;
                    text-transform: uppercase;
                    transition: background-color 0.3s ease-in-out;
                    line-height: 1.2;
                    @include md {
                        font-size: 20px;
                    }
                }
                a {
                    color: black;
                    border-radius: 4px;
                    display: flex;
                    padding: 16px 10px;
                    position: relative;
                    /* width: 20%; */
                    background-repeat: no-repeat;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-weight: 300;
                    -webkit-user-select: none;
                    user-select: none;
                    /* text-align: center; */
                    max-width: max-content;
                    img {
                        width: auto !important;
                    }
                    span {
                        text-transform: uppercase;
                        font-family: 'blender';
                        letter-spacing: 2px;
                        font-size: 18px;
                        line-height: 16px;
                        position: absolute;
                        width: 200px;
                        text-align: center;
                        color: #28e9e0;
                    }
                }
            }
        }
    }
}
